virtual_environment = {
    password = "upassword"
    endpoint = "https://ip_address:8006/"
    username = "user"
    node_name = "proxmox"
    datastore_id = "local-zfs"
}

project = {
    name = "ubuntu-test-cloud-provision"
}

vm = {
    username = "ubuntu"
    ip = "192.168.0.80"
    prefix = "24"
    gw = "192.168.0.1"
    dns_servers = ["8.8.8.8"]
} 

vm_ip = "192.168.0.80"
vm_name = "vm_name"
priv_key = "path-to-priv-key"