
remote_state {
  backend = "s3"
  generate = {
    path      = "backend.tf"
    if_exists = "overwrite"
  }
  config = {
    endpoints = {
      s3 = "http://<MinioIp>:9000" # use web port, not admin
    }
    bucket                      = "<BucketName>
    key                         = "${path_relative_to_include()}/terraform.tfstate"
    region                      = "us-east-1"
    access_key                  = "<AccessKey>"
    secret_key                  = "<SecretKey>"
    skip_credentials_validation = true
    skip_metadata_api_check     = true
    skip_requesting_account_id  = true
    force_path_style            = true

  }
}

inputs = {
    virtual_environment={
        password     = "password"
        endpoint     = "https://<proxmox_ip>:8006/api2/json"
        username     = "user@pam"
        node_name    = "proxmox"
        datastore_id = "ssd-lvm"
    }

    control_plane_nodes=[
      {
      vm_name = "cp-01"
      cpu_cores = 4
      memory_size = 8192
      disk_size = 20
      ipv4_address = "192.168.0.60/24"
      ipv4_gateway = "192.168.0.1"
      }
    ]

    worker_nodes=[
      {
      vm_name = "worker-01"
      cpu_cores = 2
      memory_size = 4096
      disk_size = 20
      ipv4_address = "dhcp"
      },
      {
      vm_name = "worker-02"
      cpu_cores = 2
      memory_size = 4096
      disk_size = 20
      ipv4_address = "dhcp"
      }
    ]

    project_name      = "devops-playground"
    priv_key_path     = "~/.ssh/id_ed25519"
    cluster_name      = "devops-playground-mngmt"
    metallb_ip_pool   = "192.168.0.40"
}