virtual_environment={
    password     = "<PROXMOX_PASSWORD>"
    endpoint     = "https://<PROXMOX_HOST>:<PORT>/api2/json"
    username     = "<PROXMOX_USER>@<realm>" #root@pam
    node_name    = "<PROXMOX_NODE>"
    datastore_id = "<PROXMOX_DATASTORE>"
}

project_name      = "<PROJECT_NAME>"
priv_key_path     = "<PATH_TO_PRIVATE_KEY>"

control_plane_nodes=[
    {
    vm_name = "<CONTROL_PLANE_VM_NAME>"
    cpu_cores = <CPU_CORES>
    memory_size = <MEMORY_SIZE>
    disk_size = <DISK_SIZE>
    ipv4_address = "<CONTROL_PLANE_IP_CIDR / dhcp>"
    ipv4_gateway = "<GATEWAY_IP>" #optional
    }
]

worker_nodes=[
    {
    vm_name = "<WORKER_VM_NAME_1>"
    cpu_cores = <CPU_CORES>
    memory_size = <MEMORY_SIZE>
    disk_size = <DISK_SIZE>
    ipv4_address = "<WORKER_IP_CIDR / dhcp>"
    ipv4_gateway = "<GATEWAY_IP>" #optional
    },
    {
    vm_name = "<WORKER_VM_NAME_2>"
    cpu_cores = <CPU_CORES>
    memory_size = <MEMORY_SIZE>
    disk_size = <DISK_SIZE>
    ipv4_address = "<WORKER_IP_CIDR / dhcp>"
    ipv4_gateway = "<GATEWAY_IP>" #optional
    }
]