virtual_environment = {
    password = "upassword"
    endpoint = "https://ip_address:8006/"
    username = "user"
    node_name = "proxmox"
    datastore_id = "local-zfs"
}

project = {
    name = "ubuntu-test-cloud-provision"
}

priv_key = "path-to-priv-key"